.slide-image {
  width: 100%;
  }
  
.carousel-holder {
  margin-bottom: 30px;
  }
  
.carousel-control,
.item {
  border-radius: 4px;
  }
  
  .card {
  height: 300px;
  margin: 5px;
  }
 
/* Unused style
.card h4 {
  white-space: nowrap;
  }
  
.thumbnail img {
  width: 100%;
  }
  
.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}
*/

footer {
  margin: 50px 0;
  }